{% extends 'analysis/base.html' %}
{% load static %}
{% block canonical_url %}{% url 'non_normal_stock_returns' %}{% endblock %}
{% block content %}
      <div class="page-header">
        <small class="authorship"><span class="glyphicon glyphicon-user"></span> Claudio Pascual</small>
        <br>
        <small>29 de junio de 2017</small>
        <h1>{% block title %}Los retornos de la bolsa no son normales{% endblock %}</h1>
      </div>
      <p>Como primera aproximación en la búsqueda de una distribución de probabilidad que sirva para modelar los movimientos de los índices bursátiles, voy a estudiar el caso particular del IBEX35 desde su estreno el 5 de enero de 1987. La cuestión de si este caso particular puede generalizarse para modelar índices de otros activos &mdash;p.ej. bonos corporativos y soberanos, patrimonio privado, inmobiliaria, indices sectoriales, etc. se deja pendiente para un análisis posterior.</p>
      <p>Es importante cumplir con el primer requisito del modelado estadístico: la <strong>aleatoriedad de la muestra</strong>. He visto algunos investigadores en puestos destacados basar su estudio en una selección arbitraria de la información disponible, lo cual me parece inexplicable en vista de la profundidad de dichos estudios, que desde mi punto de vista quedan invalidados por este motivo desde el comienzo. Por ello, y aprovechando la potencia de cálculo actual, no voy a muestrear los datos disponibles, sino voy a usar <strong>todos los datos disponibles</strong>.</p>
      <p>Posiblemente en futuros análisis me aventuraré en la asociación de múltiples variables &mdash;p.ej. PIBs nacionales, precio del crudo, estadísticas sociales, etc. pero en esta ocasión voy a hacer un planteamiento tan simple como sea posible, pero no más simple (A. Einstein), para obtener resultados apróximadamente correctos más que precisamente incorrectos (W. Buffett).</p>
      <h2>Retorno diario del IBEX35</h2>
      <p>Se obtiene el ratio de interés compuesto $r$, e.d. la magnitud del cambio diario cuando este se compone de manera continua o infinitesimal como el logaritmo natural del cociente entre el cierre de un día entre el cierre del día anterior. Expresar el cambio diario de esta forma es habitual en economía por sus varias ventajas:</p>
      <p>$$r = \log\left({cierre_i \over cierre_{i-1}}\right)$$</p>
      <p>El <a target="_blank" href="{% static 'analysis/ibex35-daily-rate.html' %}">gráfico interactivo <span class="glyphicon glyphicon-new-window"></span></a> de toda la historia del IBEX35 tiene la evolución diaria de $r$ capturada en la siguiente figura. Destacan, entre otras, la subida del 14,43% el 10 de mayo de 2010, tras la aprobación del fondo de emergencia de la UE y el anuncio varias medidas del BCE, y la caída del 12,35% el 24 de junio de 2016, tras la votación a favor del Brexit. La escala es del ratio compuesto, pero se ha etiquetado el porcentaje porque la familiaridad con este número es mayor.</p>
      <a target="_blank" href="{% static 'analysis/ibex35-daily-rate.html' %}"><img src="{% static 'analysis/ibex35-daily-rate.png' %}" width="100%"></a>
      <h2>La distribución normal para modelar los retornos de la bolsa</h2>
      <p>Se va a utilizar los estimadores de máxima probabilidad para los parámetros de la distribución normal, también llamada campana de Gauss, que son la media muestral para estimar la media ($\bar{X} \sim \mu$) y la varianza muestral para estimar la varianza ($S^2 \sim \sigma^2$) de $N(\mu, \sigma)$.
      <p>La <em>Teoría Moderna del Portafolio</em> supone una distribución normal de los retornos en bolsa pero, de ser así, los casos mencionados arriba serían altamente improbables: una caída del 12,35% tendría una probabilidad de ocurrir de 2.59e-21, e.d. una sesión de cada 3.86e+20, o lo que es lo mismo una vez cada 1.51e+18 años, que es unos <strong>100 millones de veces la edad del Universo</strong>.</p>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <table class="table table-condensed">
            <style>
              tbody tr td:nth-child(n+2) { text-align: right }
            </style>
            <caption align="bottom"><strong>Tabla 1.</strong> Número de eventos teóricos vs. observados para varias magnitudes de caída diaria del IBEX35 según la distribución normal.</caption>
            <thead><tr>
            </tr></thead>
              <th>Evento</th>
              <th>Nº teórico (normal)</th>
              <th>Nº observado</th>
            <tbody><tr>
              <td>Caída > 1% </td>
              <td><mark>{{ n_norm_drop_gt_1pct }}</mark></td>
              <td><mark>{{ n_observed_drop_gt_1pct }}</mark></td>
            </tr><tr>
              <td>Caída > 3% </td>
              <td><mark>{{ n_norm_drop_gt_3pct }}</mark></td>
              <td><mark>{{ n_observed_drop_gt_3pct }}</mark></td>
            </tr><tr>
              <td>Caída > 5% </td>
              <td><mark>{{ n_norm_drop_gt_5pct }}</mark></td>
              <td><mark>{{ n_observed_drop_gt_5pct }}</mark></td>
            </tr><tr>
              <td>Caída > 7% </td>
              <td><mark>{{ n_norm_drop_gt_7pct }}</mark></td>
              <td><mark>{{ n_observed_drop_gt_7pct }}</mark></td>
            </tr><tr>
              <td>Caída > 9% </td>
              <td><mark>{{ n_norm_drop_gt_9pct }}</mark></td>
              <td><mark>{{ n_observed_drop_gt_9pct }}</mark></td>
            </tr></tr><tr>
              <td>Caída > 11% </td>
              <td><mark>{{ n_norm_drop_gt_11pct }}</mark></td>
              <td><mark>{{ n_observed_drop_gt_11pct }}</mark></td>
            </tr></tbody>
          </table>
        </div>
      </div>
      <p>La comparación del histograma de los cambios históricos del IBEX35 con la distribución normal en una escala semejante también despierta dudas sobre la validez de la distribución normal para modelar los retornos bursátiles. En la siguiente figura se muestra: el histograma de los retornos observados y, superpuesta, la curva de la distribución normal, a la izquierda; y el trazo QQ (cuantil-cuantil) que enfrenta a ambas distribuciones, con la recta teórica del encaje normal-normal, a la derecha.</p>
      <p><a target="_blank" href="{% static 'anaylsis/ibex35-daily-rate-normality.html' %}">Gráfico interactivo <span class="glyphicon glyphicon-new-window"></span></a></p>
      <a target="_blank" href="{% static 'analysis/ibex35-daily-rate-normality.html' %}"><img src="{% static 'analysis/ibex35-daily-rate-normality.png' %}" width="100%" ></a>
      <p>Si la distribución de los cambios diarios del IBEX35 fuera normal, todos los puntos deberían caer en la recta, pero claramente las colas se desvían considerablemente, y resulta que las colas son las subidas y bajadas que crean los mayores entusiasmos y pánicos, respectivamente, y las que interesa predecir con mayor certeza.</p>
      <p>Por si la anterior visualización no fuera suficiente para convencernos de las deficiencias de la distribución normal para modelar los retornos bursátiles, efectuamos el test de normalidad de Shapiro-Wilk. En este test, la hipótesis nula es de que la distribución es normal:</p>
      <pre>
              Shapiro-Wilk normality test
              W = {{ shapiro_wilk_test_W }}, p-value < {{ shapiro_wilk_test_p }}</pre>
      <p>Los resultados parecen bastante concluyentes: la probabilidad de error Tipo I, o sea de falso positivo, es de {{ shapiro_wilk_test_p }}. Podemos descartar la hipótesis nula con bastante confianza y sentenciar que <strong>los retornos bursátiles no se distribuyen normalmente</strong>. Así, nos queda la tarea de encontrar una distribución más apropiada.</p>
      <h2>La distribución de Laplace para modelar los retornos de la bolsa</h2>
      <p>Una alternativa sugerida por varios autores es la distribución de Laplace (las razones para elegir esta distribución pueden ser demasiado extensas para explicarlas en este análisis).</p>
      <p>Esta distribución tiene por estimadores de máxima probabilidad a la media muestral para la localización ($\bar{X} \sim \mu$) y la desviación promedio de la media para la escala ($d.e. = \sqrt{2}\hat{\beta}$, donde $\hat{\beta} = 1/N \sum_{i=1}^n |X_i - \bar{X}|$).</p>
      <p><a target="_blank" href="{% static 'analysis/ibex35-daily-rate-laplacity.html' %}">Gráfico interactivo <span class="glyphicon glyphicon-new-window"></span></a></p>
      <a target="_blank" href="{% static 'analysis/ibex35-daily-rate-laplacity.html' %}"><img src="{% static 'analysis/ibex35-daily-rate-laplacity.png' %}" width="100%" ></a>

      <p>A pesar de que las colas de la distribución se distancian de la recta de encaje en el trazo QQ, parece evidente que la distribución de Laplace resulta ser una mejor aproximación a los retornos del IBEX35 que la distribución normal, tanto visualmente como para los eventos planteados arriba, que se muestra en la siguiente tabla:</p>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <table class="table table-condensed">
            <style>
              tbody tr td:nth-child(n+2) { text-align: right }
            </style>
            <caption align="bottom"><strong>Tabla 2.</strong> Número de eventos teóricos vs. observados para varias magnitudes de caída diaria del IBEX35 según la distribución de Laplace.</caption>
            <thead><tr>
            </tr></thead>
              <th>Evento</th>
              <th>Nº teórico (Laplace)</th>
              <th>Nº observado</th>
            <tbody><tr>
              <td>Caída > 1% </td>
              <td><mark>{{ n_laplace_drop_gt_1pct }}</mark></td>
              <td><mark>{{ n_observed_drop_gt_1pct }}</mark></td>
            </tr><tr>
              <td>Caída > 3% </td>
              <td><mark>{{ n_laplace_drop_gt_3pct }}</mark></td>
              <td><mark>{{ n_observed_drop_gt_3pct }}</mark></td>
            </tr><tr>
              <td>Caída > 5% </td>
              <td><mark>{{ n_laplace_drop_gt_5pct }}</mark></td>
              <td><mark>{{ n_observed_drop_gt_5pct }}</mark></td>
            </tr><tr>
              <td>Caída > 7% </td>
              <td><mark>{{ n_laplace_drop_gt_7pct }}</mark></td>
              <td><mark>{{ n_observed_drop_gt_7pct }}</mark></td>
            </tr><tr>
              <td>Caída > 9% </td>
              <td><mark>{{ n_laplace_drop_gt_9pct }}</mark></td>
              <td><mark>{{ n_observed_drop_gt_9pct }}</mark></td>
            </tr></tr><tr>
              <td>Caída > 11% </td>
              <td><mark>{{ n_laplace_drop_gt_11pct }}</mark></td>
              <td><mark>{{ n_observed_drop_gt_11pct }}</mark></td>
            </tr></tbody>
          </table>
        </div>
      </div>
      <h2>Conclusión</h2>
      <p>Si la palabra <em>normal</em> para la llamada distribución connota un sentido de normalidad, está bastante claro que los retornos de la bolsa no son normales, posiblemente debido a que hay multiples factores económicos, psicológicos o políticos afectando el comportamiento de los inversores y, como consecuencia, la fluctuación de los precios.</p>
      <p>A falta de un modelo mejor, cuya búsqueda continuará seguramente en futuros análisis, la distribución de Laplace es una mejor opción que la distribución normal para predecir los retornos bursátiles del IBEX35, tal y como se ha demostrado. Por supuesto, esta elección tiene más consecuencias desde el punto de vista de la Teoría Moderna de Portafolios, cuyo alcance habría que estudiar, especialmente en lo relativo a la asimilación de la volatilidad (varianza) con el riesgo, cuya validez intuyo se tambalea.</p>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script>
      /*
      $(function() {
      });
      */
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
{% endblock %}
