{% extends 'analysis/base.html' %}
{% load static %}
{% block head_end %}
  <link href="{% static 'dygraphs_files/dygraphs-1.1.1/dygraph.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h1 class="page-header">{% block title %}{{ title }}{% endblock %}
      <small class="well well-sm pull-right">{{ last_quote }}{% if last_pct_change >= 0 %}<span class="dropup">{% endif %}
        <span class="{% if last_pct_change >= 0 %}winner{% else %}loser{% endif %}">
          <span class="caret caret-lg"></span> {{ last_pct_change }}%</span>
      {% if last_pct_change < 0 %}</span><!-- .dropup -->{% endif %}</small></h1>
    {{ html_above | safe }}
    {{ fragment | safe }}
  </div>
{% endblock %}
{% block body_end %}
  <script src="{% static 'dygraphs_files/htmlwidgets-0.8/htmlwidgets.js' %}"></script>
  <script src="{% static 'dygraphs_files/dygraphs-1.1.1/dygraph-combined.js' %}"></script>
  <script src="{% static 'dygraphs_files/moment-2.8.4/moment.js' %}"></script>
  <!-- <script src="{% static 'dygraphs_files/moment-timezone-0.2.5/moment-timezone-with-data.js' %}"></script> -->
  <!-- <script src="{% static 'dygraphs_files/moment-fquarter-1.0.0/moment-fquarter.min.js' %}"></script> -->
  <script src="{% static 'dygraphs_files/dygraphs-binding-1.1.1.4/dygraphs.js' %}"></script>
{% endblock %}
